# OS X Finder
.DS_Store

### swift & xcode
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

#### Xcode per-user config
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
xcuserdata

#### Build products
build/
*.o
*.LinkFileList
*.hmap

#### Automatic backup files
*~.nib/
*.swp
*~
*.dat
*.dep

# CocoaPods
Pods/
